/* ======================================
  All Screens Styles
========================================= */

/* ~~~~~~~~~~ Basic Styles ~~~~~~~~~~ */

* {
  box-sizing: border-box;
}

body {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  text-align: center;
}

h1,
h2,
h3 {
  margin: 0;
}

/* ~~~~~~~~~~ Layout Styles ~~~~~~~~~~ */

.flex-nav,
.flex-header,
.flex-portfolio {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}


nav,
header,
footer {
  background-color: #f9f9f9;
}

/* ~~~~~~~~~~ Navigation ~~~~~~~~~~ */

.name-nav {
  font-size: 1.6em;
  font-weight: 800;
  margin: 0 auto;
}

.navlist {
  list-style: none;
  padding-left: 0;
}

.navlist a {
  color: #000;
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: none;
}

.navlist {
  font-variant-caps: all-small-caps;
}

.navlist li {
  background-color: #fff;
  margin: .25em auto;
  padding: 0.5em;
}

/* ~~~~~~~~~~ Header Section ~~~~~~~~~~ */

.profile-img {
  margin: auto;
  width: 90%;
}

.profile-img img {
  width: 100%;
}

header p {
  color: #999;
  font-size: 1.2em;
}

/* ~~~~~~~~~~ Main Content Area ~~~~~~~~~~ */

h1 {
  font-variant-caps: all-small-caps;
}

.project-img {
  margin: 1em auto;
  width: 100%;
}

.project h2 {
  font-weight: 600;
}

.project p {
  font-size: 1.2em;
}

/* ~~~~~~~~~~ Footer Section ~~~~~~~~~~ */

.mobile-footer {
  display: flex;
  flex-direction: row;
  padding: 1.5em;
}

.footer-top {
  color: #999;
  font-size: 1.2em;
  margin: auto auto 0 auto;
  width: 90%;
}

.footer-top h1 {
  color: #000;
  font-size: 1.5em;
}

.footer-bottom {
  border-top: 1px solid #e7e7e7;
  margin: 10px auto auto auto;
  padding: 0.5em;
  width: 90%;
}

address > ul,
.footer-list {
  list-style: none;
  padding-left: 0;
}

address > ul a,
.footer-list a,
.anchor-return a {
  color: #999;
  font-weight: 600;
  text-decoration: none;
}

address > ul {
  line-height: 2;
}

.anchor-return,
.footer-list {
  font-variant-caps: all-small-caps;
}

.name-footer {
  font-weight: bold;
  margin-right: auto;
}

.tblt-dsk-footer {
  display: none;
}

/*  === For smartphone only ===  */
/* @media only screen and (max-width: 320px) {

  .___ {

  }

} */
/* End of smartphone media query) */


/*  === For tablet up ===  */
@media only screen and (min-width: 768px) {

  /* ~~~~~~~~~~ Navigation ~~~~~~~~~~ */
  .flex-nav {
    flex-direction: column;
  }

  nav,
  .navlist {
    display: flex;
    margin: 0 auto;
  }

  .navlist li {
    background-color: inherit;
    flex: 1;
  }

  /* ~~~~~~~~~~ Header Section ~~~~~~~~~~ */
  .flex-header {
    flex-direction: row;
  }

  .profile-img {
    order: 2;
    width: 40%;
    /* height: 65%; */
  }

  header p {
    margin: 0 10px;
    text-align: left;
    width: 60%;
  }

  /* ~~~~~~~~~~ Main Content Area ~~~~~~~~~~ */
  .flex-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
  }

  .project {
    margin-left: 0;
    margin-right: 0;
    padding: 0.5em 1em;
    width: 50%;
  }

  /* ~~~~~~~~~~ Footer Section ~~~~~~~~~~ */
  .footer-top {
    width: 50%;
  }

  .mobile-footer {
    display: none;
  }

  .tblt-dsk-footer {
    display: flex;
  }

  .footer-list {
    display: flex;
    margin: 0;
  }

  .footer-list li {
    margin: 0 10px;
  }

} /* End of tablet media query */


/* For  === desktop up ===  */
@media only screen and (min-width: 1024px) {

  /* ~~~~~~~~~~ Navigation ~~~~~~~~~~ */
  .flex-nav {
    flex-direction: row;
    padding: 1em 3em;
  }

  .name-nav {
    margin-right: auto;
    margin-left: 0.25em;
  }

  .navlist {
    margin-right: 0;
  }

  /* ~~~~~~~~~~ Header Section ~~~~~~~~~~ */
  .flex-header {
    padding: 1em 3em;
  }

  /* ~~~~~~~~~~ Main Content Area ~~~~~~~~~~ */
  main {
    background-color: #f9f9f9;
    padding: 1em;
  }

  .container {
    background-color: #fff;
  }

  .project {
    width: 33%;
  }


} /* End of desktop media query */
